/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define LOWER 1
#define RAISE 2
#define ADJUST 3
#define NUMBERS 4
#define BT0 BT_SEL 0
#define BT1 BT_SEL 1
#define BT2 BT_SEL 2
#define BT3 BT_SEL 3
#define BT4 BT_SEL 4

&mt { retro-tap; };

&sk {
    //release-after-ms = <2000>;

    quick-release;

    // /delete-property/ ignore-modifiers;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_caps {
            timeout-ms = <50>;
            key-positions = <24 35>;
            bindings = <&kp CAPSLOCK>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp ESC>;
        };
    };

    macros {
        none_blk: none_blk {
            label = "NON_BLOCKING";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(COMMA) &kp EQUAL>;
        };

        cmd_mode: cmd_mode {
            label = "VIM_CMD_MODE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp ESC &kp LS(SEMI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT    &kp A  &kp S  &kp D         &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp LG(SPACE)
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp CAPSLOCK
                                &kp LEFT_ALT  &mo 1  &lt 3 SPACE  &kp RET  &mo 2  &kp LSHFT
            >;
        };

        lower_layer {
            bindings = <
&kp TAB           &kp EXCLAMATION   &kp AT_SIGN            &kp HASH           &kp DOLLAR       &kp PERCENT  &kp CARET          &kp AMPERSAND   &kp ASTERISK   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DEL
&kp LEFT_SHIFT    &kp BACKSLASH     &kp LEFT_PARENTHESIS   &kp LEFT_BRACKET   &kp LEFT_BRACE   &kp TILDE    &kp EQUAL          &kp UNDERSCORE  &kp MINUS      &kp PLUS              &kp COLON              &kp APOS
&kp LEFT_CONTROL  &kp SINGLE_QUOTE  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp PIPE     &kp DOUBLE_QUOTES  &trans          &kp LESS_THAN  &kp GREATER_THAN      &kp QUESTION           &kp CAPSLOCK
                                                           &kp LGUI           &trans           &trans       &trans             &kp BACKSPACE   &kp DEL
            >;
        };

        raise_layer {
            bindings = <
&kp TAB           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp N7          &kp N8        &kp N9     &kp N0         &kp BSPC
&kp LEFT_SHIFT    &trans        &trans        &trans          &trans        &trans        &kp LEFT      &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &kp LC(LS(K))  &kp GRAVE
&kp LEFT_CONTROL  &trans        &trans        &trans          &trans        &trans        &kp HOME      &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &kp PIPE       &kp TILDE
                                              &kp LEFT_SHIFT  &kp ESCAPE    &kp TAB       &kp RET       &trans          &kp LEFT_ALT
            >;
        };

        adjust_layer {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6            &kp F7             &kp F8           &kp F9      &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp C_PREVIOUS    &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &kp C_NEXT  &kp F11  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans             &trans           &trans      &kp F12  &trans
                        &trans  &trans  &trans  &kp C_PLAY_PAUSE  &trans             &trans
            >;
        };

        number_layer {
            bindings = <
&kp TAB    &trans        &kp N1  &kp N2    &kp N3  &trans        &trans     &trans     &trans     &trans   &trans        &kp BSPC
&kp LCTRL  &trans        &kp N4  &kp N5    &kp N6  &kp LS(SEMI)  &kp MINUS  &kp EQUAL  &trans     &trans   &kp LS(SEMI)  &kp SQT
&kp LSHFT  &tog NUMBERS  &kp N7  &kp N8    &kp N9  &kp N0        &trans     &kp PLUS   &kp COMMA  &kp DOT  &kp FSLH      &trans
                                 &kp LGUI  &trans  &kp SPACE     &kp RET    &trans     &kp LGUI
            >;
        };
    };
};
